/* main */

input {
    width: 400px;
  }

* {
    outline: none;
    font-family: 'PF Din Text Universal';
    box-sizing: border-box;
    font-display: swap;
}

body, html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

/*  //main  */


/*  header  */

.header {
    height: 950px;
    width: 100%;
    background-color: #f1b2c7;
    background-image: url("./../img/back.web");
    align-items: center;
    background-position: 80% 0;
    background-repeat: no-repeat;
}

.bg {
    width: 100%;
    height: 110px;
    z-index: 4000;
    position: fixed;
}

.container {
    width: 1175px;
    height: 84px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

.nav {
    width: 1175px;
    padding-top: 33px;
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 5000;
}

.logo {
    width: auto;   
}

.logo_title {
    font-size: 36px;
    line-height: 1.111;
}

.logo__slogan {
    font-size: 17px;
    line-height: 2.353;
    letter-spacing: 0.6px;
}

.solid {
    position: absolute;
    margin-left: 700px;
}
  
.top-nav {
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    border-bottom: 7px solid white;
}


.top-nav__first {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 225px;
    height: 40px;
}

.top-nav__second {
    font-size: 23px;
    line-height: 1.739;
    margin-left: 30px;
    cursor: pointer;
}

.top-nav__link {
    margin-top: 7px;
}

.top-nav__link:hover {
    opacity: 60%;
}

.link-a {
    color: white;
}

#text:hover {
    opacity: 60%;
}

.top-nav__word {
    font-size: 17px;
    line-height: 0.941;
    width: 71%;
    letter-spacing: 0.3px;
}

/*  // header  */


/*  header main  */

.header__content {
    width: 576px;
    padding-top: 150px;
    flex-shrink: 0;
}

.header__title {
    font-size: 71px;
    line-height: 1.254;
    margin-bottom: 5%;
  }


.header-list {
    display: flex;
    flex-direction: column;
    list-style-image: url('./../img/signs.png');
    margin-left: 35px;
}

.header-list__item {
    position: relative;
    font-size: 17px;
    font-family: "Courier New";
    line-height: 3.059;
    letter-spacing: 0.3px;
    padding-left: 5px;
    padding-top: 5px;
}

.btn {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 16px 32px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 20em;
    background: linear-gradient(180deg, #e04060, #ed4f55);
    box-shadow: inset #dc254a73 0 -2px 5px, inset #dc254a73 0 2px 5px;
    color: white;
    user-select: none;
    transition: all 0.1s;
  } 

  .btn:hover {
    color: gray;
    background: linear-gradient(180deg, #91293e, #a7363a);
    cursor: pointer;
  }

  .btn:active {
    padding-bottom: 14px;
    box-shadow:
     inset rgba(0,0,0,1) 0 1px 3px,
     inset rgba(252,255,255,.7) 0 2px 5px,
     0 1px rgba(255,255,255,.08);
    color: rgba(247, 236, 217, 0.473)
  }

  .btn img {
    margin-top: 10px;
  } 


/*  // header main  */

/* info */

.info-main {
    margin: 0 auto;
    height: auto;
    width: 1175px;
    padding-top: 98px;
    padding-bottom: 121px;
    display: block;
}


.text {
    font-size: 63px;
    color: rgb(240, 166, 30);
    line-height: 1.413;
    text-align: center;
}

.info-first__text {
    padding-bottom: 103px;
}

.info-first__pic {
    display: flex;
    justify-content: space-between;
    height: 470px;
    padding-bottom: 170px;
}

.pic-info__1 {
    display: flex;
    align-items: center;
    background-image: url(./../img/pic1.png);
    background-repeat: no-repeat;
    width: 25%;
}

.pic-info__2 {
    display: flex;
    align-items: center;
    background-image: url(./../img/pic2.png);
    background-repeat: no-repeat;
    width: 25%;
}

.pic-info__3 {
    display: flex;
    align-items: center;
    background-image: url(./../img/pic3.png);
    background-repeat: no-repeat;
    width: 25%;
}

.pic-info__text {
    text-align:center;
    font-size: 30px;
    line-height: 1;
    margin: 0 auto;   
    color: #fff;
    width: 231px;
}

.pic {
    color:#000;
}

.info-second__text {
    padding-bottom: 79px;
}

.info__block {
    display: flex;
    flex-direction: column;
    
}

.block-row {
    display: flex;
    justify-content: space-between;
}

.block-row:not(:last-child) {
    padding-bottom: 50px;
}

.block {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #f1b2c7;
    box-shadow: 0px 31px 25.6px 6.4px rgba(0, 0, 0, 0.16);
    width: 361px;
    height: 356px;
  }

.block__text {
    text-align:center;
    font-size: 45px;
    line-height: 1;
    margin: 0 auto;   
    color: #fff;
}

.block:hover {
    box-shadow: 0px 31px 25.6px 20px rgba(0, 0, 0, 0.200);
    
}

.block__p {
    border-radius: 20px;
    background-color: #f1b2c7;
    box-shadow: 0px 31px 25.6px 6.4px rgba(0, 0, 0, 0.16);
    width: 1175px;
    height: 175px;
    display: flex;
    align-items: center;
}

.info-third__text h1 {
    padding-bottom: 50px;
    padding-top: 180px;
}

.block__p:not(:last-child) {
    margin-bottom: 50px;
}

/* // info */


/* bonus */

.bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1175px;
    margin: 0 auto;
    height: 450px;
    padding-bottom: 247px;
}

.bonus-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    align-items: center;
}

.bonus-img {
    padding-top: 10px;
}

.bonus__text {
    font-size: 71px;
    color: rgb(240, 166, 30);
    line-height: 1.254;
    text-align: center;
}

.color {
    color: red
}

.bonus-img {
    align-items: center;
}

/* // bonus */


/* form */

.regestration {
    background-image: url(./../img/reg.png);    
    background-size: cover;  
    width: auto;
    height: 528px;
    display: block;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1175px;
    margin: 0 auto;
    height: 100%;
}

.form-cont {
    /* width: 1175px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 139px;
}

.form-text__title {
    font-size: 54px;
    color: rgb(255, 255, 255);
    line-height: 1.648;
    text-align: left;
    width: 505px;
}

.form-text__reg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 139px;
}

input[placeholder="email"]{
    color: #fff;
}


input::-webkit-input-placeholder { color: white;}
input::-moz-placeholder { color: white; }


input[type="email"] {
    font-size: 45px;
    font-family: "Calibri";
    color: #fff;
    border-radius: 80px;
    height: 55px;
    width: 574px;
    padding: 10px 15px;
    border-width: 0;
    background: #e6e6e677;
    outline: none;
    margin: 0;
}

input[type="text"] {
    font-size: 45px;
    font-family: "Calibri";
    color: #fff;
    border-radius: 80px;
    height: 55px;
    width: 574px;
    padding: 10px 15px;
    border-width: 0;
    background: #e6e6e677;
    outline: none;
    margin: 0;
}

input[type="email"]:focus {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}

/* .продолжить {
    background-color: rgb(211, 118, 118);
    position: absolute;
    left: 740px;
    top: 4267px;
    width: 440px;
    height: 71px;
    z-index: 82;
  } */
  
.btn_reg {
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 390px;
    height: 71px;
    display: inline-block;
    font-size: 45px;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 20em;
    background-color: #d37676;
    color: white;
    user-select: none;
    transition: all 0.1s;
    cursor: pointer;
  } 

  .btn_reg:hover {
    color: gray;
    background: #d3767671;
  }

  .btn_reg:active {

    box-shadow:
     inset rgba(0,0,0,1) 0 1px 3px,
     
     0 1px rgba(255,255,255,.08);
    color: gray;
  }

/*   
.continue {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

.present {
    font-size: 28px;
    color: rgb(144, 238, 144);
    line-height: 1.286;
    text-align: center;
}

/* .Email {
    font-size: 54px;
    font-family: "Calibri";
    color: rgb(255, 255, 255);
    line-height: 0.963;
  } */
  

/* // form */


/* media */

@media (max-width: 1341px) {
    .header {
        background-position: 30% 0;
    }
}

@media (max-width: 1190px) {
    .nav {
        width: 100%;
    }
}

@media (max-width: 1180px) {
    .container {
        width: 100%;
    }

    .info-main {
        width: 100%;
    }

    .text {
        font-size: 50px;
    }

    /* .bonus__text {
        font-size: 51px;
    }
     */

    .info-first__pic {
        flex-direction: column;
        align-items: center;
        height: 1200px;
        width: auto;
    }

    .pic-info__1 {
        width: 300px;
        height: 300px;
    }

    .pic-info__2 {
        width: 300px;
        height: 300px;
    }

    .pic-info__3 {
        width: 300px;
        height: 300px;
    }

    .block__p {
        width: 90%;
    }

    .bonus {
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }

    .form {
        width: auto;
    }

    input[type="text"] {
        width: auto;
    }

    input[type="email"] {
        width: auto;
    }

    .form-text__title {
        font-size: 44px;
        width: 415px;
    }

    .regestration {
        height: 480px;
    }
    
}

@media (max-width: 1160px) {
    .block {
        width: 311px;
        height: 306px;
    }
}

@media (max-width: 980px) {

    .header {
        height: 830px;
    }
    
    .header__content {
        width: auto;
    }

    .header__title {
        width: auto;
    }

    .header-row {
        width: auto;
    }

    .info__block {
        align-items: center;
    }

    .block-row {
        flex-direction: column;
        align-items: center;
    }

    .block {
        margin-bottom: 50px;
    }

    .block-row:not(:last-child) {
        padding-bottom: 0;
    }

    .form-text__title {
        width:auto;
        font-size: 37px;
    }
}

@media (max-width: 800px) {

    .header {
        background-image: none;
        height: 750px;
    }

    .top-nav {
        border-bottom: none;
        align-items: center;
    }

    .top-nav__first {
        justify-content: flex-end;
        width: auto;
    }   

    .top-nav__word {
        display: none;
    }

    .top-nav__link:not(:last-child) {
        padding-right: 10px;
    }

    .top-nav__second {
        margin-left: 10px;
    }

    .btn {
        padding: 20px 40px;
        font-size: 35px;
    }

    .info-third__text h1 {
        padding: 120px 0 50px 0;
    }

    input[type="text"] {
        width: 300px;
        font-size: 35px;
    }

    input[type="email"] {
        width: 300px;
        font-size: 35px;
    }

}

@media (max-width: 827px) {
    .form-cont {
        padding-top: 10%;
    }
}
@media (max-width: 800px) {
    .top-nav {
        margin-right: 8px;
    }

    .logo {
        margin-left: 8px;
    }

    .header__title {
        font-size: 65px;
    }

    .header {
        height: 800px;
    }

    .text {
        font-size: 40px;
    }

    .pic-info__1 {
        width: 300px;
        height: 300px;
    }

    .pic-info__2 {
        width: 300px;
        height: 300px;
    }

    .pic-info__3 {
        width: 300px;
        height: 300px;
    }

    .block {
        width: 291px;
        height: 286px;
    }

    .block__text {
        font-size: 30px;
    }

    .block__p {
        height: 165px;
    }

    .bonus__text {
        font-size: 40px;
    }
}

@media (max-width: 574px) {

    .bonus-img {
        display: none;
    }

    .form-text__title {
        font-size: 27px;
    }

    input[type="text"] {
        width: 200px;
        font-size: 28px;
    }

    input[type="email"] {
        width: 200px;
        font-size: 30px;
    }

    .bonus__text {
        font-size: 40px;
    }

    .header {
        height: 900px;
    }

    .regestration {
        height: 400px;
    }

    .btn_reg {
        font-size: 30px;
        width: 300px;
        height: 50px;
    }
}
    @media (max-width: 480px) {
        .header {
            height: 940px;
        }
    }

    @media (max-width: 455px) {

        .header {
            height: 990px;
        }

        .regestration {
            height: 350px;
        }

        .logo__slogan {
            font-size: 13px;
        }

        .logo_title {
            font-size: 28px;
        }

        .top-nav__second {
            font-size: 19px;
        }
    }
