/* main */
* {
    font-family: 'Noto Sans', sans-serif;
    outline: none;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

body, html {
    width: 100%;
    height: 100%;

    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

a {
    text-decoration: none;
}

/* /main */

/* header */

.bg {
    width: 100%;
    height: 10px;
    z-index: 4000;
}

.header {
    height: 100%;
    width: 100%;
    background-color: #0d0d0d;
}

.container {
    display: flex;
    width: 1175px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    color: rgb(255, 255, 255);
    align-items: center;
}

.img-parallax {
	overflow: hidden;
}

.mouse-parallax-bg {
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 8%;
	height: 8%;
	transition: all 0.1s ease;  
    z-index: 100;
    top: 1000px;
}

#img1 {
    background-image: url("../img/hat.png");
    left: 50px;
}

#img2 {
    background-image: url("../img/glass.png");    
    right: 180px;
    top: 500px;
}

.header-text {
    font-size: 18vw;
    color: white;
    font-family: 'Bebas Neue', cursive; 
    z-index: 500;

    opacity: 0;
    transition: all 1s ease 0s;
}

.header-text._active {
    opacity: 1;
    font-size: 20vw;
}

/* /header */

/* main */

.main {
    background-color: #0d0d0d;
    height: 90%;
}
.main-2 {

}
