/* main */
* {
    font-family: 'Noto Sans', sans-serif;
    outline: none;
    color: #f2f2f2;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;

    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

a {
    text-decoration: none;
}

/* /main */

/* header */

.bg {
    width: 100%;
    height: 10px;
    z-index: 4000;
}

.header {
    height: 100%;
    width: 100%;
    background-color: #0d0d0d;
}

.container {
    display: flex;
    width: 1175px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    
    align-items: center;
}

.img-parallax {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: all 3s ease 0.2s;
}

.img-parallax._active {
    opacity: 1;
}

.mouse-parallax-bg {
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
    background-size: 100vw;
	transition: all 0.1s ease;  
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/items.png);
}

.img-parallax._active {
    opacity: 1;
}

.header-text {
    font-size: 18vw;
    font-family: 'Bebas Neue', cursive; 
    z-index: 500;

    opacity: 0;
    transition: all 1s ease 0s;
}

.header-text._active {
    opacity: 1;
    font-size: 20vw;
}

/* /header */


.transition {
    background-color: #0d0d0d;
    height: 70%;
    padding-bottom: 100px;
}


/* main-container */

.main {
    width: 100%;
}

.container-main {
    width: 1175px;
    height: 100%;
    margin: 0 auto;
}

.main_text-head {
    display: flex;
    font-size: 3vw; 
    justify-content: center;
    padding-bottom: 100px;

    transform: translate(0px, 300px);
    opacity: 0;
    transition: all 1s ease 0s;
}

.main_text-head._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.main_photo-card1 {
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding-bottom: 150px;

    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease 0s;
}

.main_photo-card1._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.photo-card-text {
    display: flex;
    width: 50%;
    font-size: 35px;
    height: 802px;
    align-items: center;
    justify-content: center;
}

.photo-card1-photo {
    background-repeat: no-repeat;
    background-image: url(../img/img_telegramm.png);
    width: 402px;
    height: 802px;
}

.main_photo-card2 {
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding-bottom: 150px;

    opacity: 0;
    transform: translate(0px, 100px);
    transition: all 1s ease 0s;
}

.main_photo-card2._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.photo-card2-photo {
    background-repeat: no-repeat;
    background-image: url(../img/img_AR.png);
    width: 402px;
    height: 802px;
}

/* /main-container */

/* main-map */

.container-map {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1250px;
    padding-bottom: 150px;
}

.img-map {
	background-repeat: no-repeat;
	background-size: 100%;
    background-position: center center;
    background-image: url(../img/map.png);
    z-index: 100;

    width: 100%;
    height: 100%;
    
}

.map-text {
    position: absolute;
    margin: 0 auto;
    width: 50%;
    z-index: 500;
    font-size: 3vw;
    text-shadow: 10px 10px 25px #0d0d0d,
                -10px -10px 50px #0d0d0d;

    opacity: 0;
    transition: all 2s ease 0s;
}

.map-text._active {
    opacity: 1;
}


/* /main-map */

/* container-video */

.container-video {
    padding-top: 50px;
}

.container-video {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 56%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;

    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 2s ease 0s;
  }

.container-video iframe {
    position: absolute;
    border-radius: 50px;
    top: 80px;
    width: 70%;
    height: 70%;
    border-width: 0;
    outline-width: 0;
    box-shadow: 10px 10px 5px #262626;
}

.container-video._active {
    opacity: 1;
    transform: translate(0px, 0px);

}

/* /contaainer-video */

/* container-schedule */

.container-schedule {
    height: 1000px;
}

.schedule-header {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 50px;

    opacity: 0;
    transition: all 1s ease 0s;
    transform: translate(0px, 40px);
}

.schedule-header._active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.schedule-tab {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

table.schedule-table {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    
}

table.schedule-table th {
    font-weight: normal;
    font-size: 18px;
    background-color: #262626;
}

table.schedule-table th:first-child {
    border-top-left-radius: 50px;
    border: 0;
}
table.schedule-table th:last-child {
    border-top-right-radius: 50px;
    border: 0;
}

table.schedule-table td {
    font-size: 17px;
    background-color: #2626261a;
    
}

table.schedule-table td, table.schedule-table th {
    white-space: pre-wrap;
    padding: 38px 34px;
    line-height: 17px;
    vertical-align: middle;
    border: 1px solid #262626;
}	

table.schedule-table td:hover {
    background-color:#2626267a
}

table.schedule-table tr:hover td {
    cursor: pointer;
}

.mobile-table {
    width: 100%;
    max-width: 100%; 
    overflow-x: auto;
}

/* /container-schedule */



/* container-footer */

footer {
    background-color: #2626261a;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    width: 1175px;
    margin: 0 auto;
    height: 200px;
    align-items: center;
}

.footer-sociable {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;

}
  
ul li {
    float: left;
    width: 65px;
    height: 50px;
    margin-right: 36px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s linear;
}

ul li:last-child {
    margin-right: 0;
}
  
ul li .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 30px;
    transition: all 0.5s linear;
}
  
ul li:hover {
    background: #262626;
    box-shadow: 0 0 30px 3px #262626;
}

ul li:hover .fa-vk {
    color: #5282b8;
}

ul li:hover .fa-instagram {
    color: #ce3094;
}

/* /container-footer */
