/* main */
* {
    font-family: 'Noto Sans', sans-serif;
    outline: none;
}

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

body, html {
    width: 100%;
    height: 100%;

    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

a {
    text-decoration: none;
}

/* /main */

/* header */

.bg {
    width: 100%;
    height: 10px;
    z-index: 4000;
}

.header {
    height: 100%;
    width: 100%;
    background-color: #0d0d0d;
}

.container {
    display: flex;
    width: 1175px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    color: rgb(255, 255, 255);
    align-items: center;
}

.img-parallax {
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: all 3s ease 0.2s;
}

.img-parallax._active {
    opacity: 1;
}

.mouse-parallax-bg {
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
    background-size: 100vw;
	transition: all 0.1s ease;  
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/items.png");
}

.img-parallax._active {
    opacity: 1;
}

.header-text {
    font-size: 18vw;
    color: white;
    font-family: 'Bebas Neue', cursive; 
    z-index: 500;

    opacity: 0;
    transition: all 1s ease 0s;
}

.header-text._active {
    opacity: 1;
    font-size: 20vw;
}

/* /header */

/* main */

.transition {
    background-color: #0d0d0d;
    height: 110%;
}