/* main */
* {
    font-family: 'Noto Sans', sans-serif;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

/* /main */

/* header */

.bg {
    width: 100%;
    height: 10px;
    z-index: 4000;
}

.header {
    height: 100%;
    width: 100%;
    background-color: gray;
    
    align-items: center;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1175px;
    height: 84px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}

.nav {
    width: 1175px;
    padding-top: 33px;
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 5000;
}

.top-nav {
    padding-top: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    border-bottom: 5px solid white;
}

.top-nav__first {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 225px;
    height: 40px;
}

.top-nav__second {
    font-size: 23px;
    line-height: 1.739;
    margin-left: 30px;
    cursor: pointer;
}

.top-nav__link {
    margin-top: 7px;
}

.top-nav__link:hover {
    opacity: 60%;
}

#text {
    color: white;
}

#text:hover {
    opacity: 60%;
}

.top-nav__word {
    font-size: 17px;
    line-height: 0.941;
    width: 71%;
    letter-spacing: 0.8px;
}

/* /header */